<<<<<<< HEAD
.Gsearch{color: cadetblue;}
.first_part{color: cadetblue;}
.Coordinates{color: blue;}
.Hobbies{color: blue;}
.PdP{margin: auto;}
=======
.Gsearch{color: cadetblue;}
.first_part{color: cadetblue;}
.Coordinates{color: blue;}
.Hobbies{color: blue;}
>>>>>>> c9a69511f960ff00b41a5f390a7852d854661e82
